@tailwind components;
@tailwind base;
@tailwind utilities;

@font-face {
  font-family: "CWDangamAsac-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --brand: #d7abc5;
  --font-display: "CWDangamAsac-Bold";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "GmarketSansMedium", Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-display {
    font-size: 6vw;
    line-height: 8vw;
  }
}

/* 모서리 공통 스타일 */
.corner {
  position: absolute;
}
.corner-svg {
  width: 50px;
  height: 50px;
}
.diagonal-line,
.vertical-line,
.horizontal-line {
  stroke: white;
  stroke-width: 1;
}
